:root{
    --title-color: #ffffff;
    --second-title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --header-color : #212121;
    }

body {
font-family: Roboto, Tahoma, sans-serif;
}




p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ol,ul{
padding-left: 0;
margin: 0;
}

img{
    display: block;
}

button{
    cursor: pointer;
}
.link {
    text-decoration: none;
}

.list{
    list-style: none;
}
/*-------------------HEADER---------*/ 
.header{
padding-top: 24px;
padding-bottom: 25px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
}

.header .container{
    display: flex;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.hero-container{
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.header-list{
    display: flex;
}

.header-item:not(:last-child){
    margin-right: 50px;
}
.header-link{
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header-link-first{
    color: #2196F3;
}

.header-link-second{
    color: #212121;
}


.header-list:not(:last-child){
    margin-right: 50px;
}
.header-item-link{
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
color: var(--header-color);
}

.header-item-link:hover{
    color: var(--accent-color);
}

.header-address{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-mail{
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
color: #757575
}
.header-mail:hover{
    color: var(--accent-color);
}

.header-tel{
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
color: #757575;
margin-left: 50px;
}
/*-----------------------MAIN------------------------*/
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero {
    background-image: url(/photo/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #212121;
}
.hero-title{
font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 2.64px;
text-transform: uppercase;
color: var(--title-color);
max-width: 696px;
margin-bottom:30px;
display: flex;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.hero-btn{
font-size: 16px;
font-weight: 700;
line-height: 1.85;
letter-spacing: 0.96px;
color: #ffffff;
background-color: #2196F3;
padding: 10px 32px;
}
/*--------------------ABOUT--------------*/
.about .container{
    display: flex;
    flex-direction: column;
    
}
.about{
    padding:94px 215px;
}
.about-list:not(:last-child){
margin-right: 30px ;
}
.about-photo-list{
    display: flex;
}

.about-button-icon{
    width: 250px;
    height: 120px;
}
.about-photo-item:not(:last-child){
    margin-right: 30px;
}

.about-item{
    margin-top: 30px;
}
.about-item:not(:last-child){
    margin-right: 30px;
}
.about-title{
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
color: var(--second-title-color);
margin-bottom: 10px;
margin-top: 10px;
}

.about-text{
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
color: var(--text-color);
min-width: 72px;
}



/*---------------------------process----------------*/
.process .container{
    display: flex; 
    flex-direction: column;
}
.process-list{
    display: flex;
}
.process-item:not(:last-child){
    margin-right: 30px;
}
.process{
    padding-bottom: 94px;
}
.process-title{
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
color: var(--second-title-color);
margin-bottom: 50px;
text-align: center;
}

/* --------------------------team */
.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.team .container{
    display: flex;
    flex-direction: column;
}
.team-link{
    display: flex; 
    flex-direction: row; 
}
.team-social-link{
    width: 44px;
    height: 44px;
}
.team-title{
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
color: var(--second-title-color);
margin-bottom: 50px;
text-align: center;
}
.team-item{
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */

box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
display: flex;  
flex-direction: column;
}
.team-item:not(:last-child){
    margin-right: 30px;
}
.team-list{
display: flex;

}
.team-img{
    margin-bottom: 30px;
}
.team-title-second{
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
color: var(--second-title-color);
margin-bottom: 10px ;
text-align: center;
}


.team-text{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    color: var(--text-color);
    text-align: center;
}

.team-list-second{
    display: flex;
    padding-top: 16px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}



.team-social-link:hover{
    width: 44px;
    height: 44px;
    background-color: var(--accent-color);
    border-radius: 50%;
     
}


.team-item-link:not(:last-child){
    margin-right: 10px;
}
/* ----------------client-------------- */

.client-list{
    display: flex;

}
.client-title{
    padding-top: 94px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
.client-icon{
    width: 106px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 5px 15px;
}

.client-item{
    padding-bottom: 94px;
}
.client-item:first-child{
    margin-left: 215px;
}
.client-item:not(:last-child){
    margin-right: 30px;
}
/*---------------FOOTRER----------*/
footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px; 
}
.footer-link {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.footer-link-span{
    margin-bottom: 20px;
}

.footer-link-first {
    color: #2196F3;
}

.footer-link-second {
    color: #ffffff;
}

.footer-address{
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
color: #ffffff;
margin-bottom: 9px;
}

.footer-mail{
font-size: 14px;
font-weight: 400;
line-height: 1,71; 
letter-spacing: 0.42px;
color: var(--text-color);
}

.footer-tel{
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
color: var(--text-color);
}

.footer-address{
    display: block;
}

.footer-item:first-child{
    margin-bottom: 9px;
}

.footer-title{
    color: var(--title-color);
}
.footer-social-link{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.footer-social:hover{
    width: 44px;
    height: 44px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

.footer-social{
    width: 20px;
    height: 20px;
}

.footer-item-link{
    margin-top: 20px;
}

.footer-item-link:not(:last-child){
    margin-right: 30px;
}
/* .footer-list{
    display: flex;
} */

.footer-item-second{
    display: flex;
}
.footer-listaddress{
    display: flex;
}

.footer-address-item{
    display: flex;
    flex-direction: column;
}


